/* Color reference:
 * dark blue       = #182151;
 * calculator blue = #6e76a0;
 * key blue        = #9da3c1;
 * operator keys   = #fff8c9;
 * results screen  = rgba(255, 255, 255, 0.7);
*/
html {
  height: 100%;
}
body {
  margin: 0;
  padding:0;
  min-height: 100%;
  background-color: #182151;
}
.wrapper {
  background-color: #182151;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 560px;
}
.calculator {
  position: relative;
  background-color: #6e76a0;
  border-radius: 10px;
  color: #fff8c9;
  text-align: center;
  width: 500px;
  height: 600px;
}
.results {
  height: 120px;
  line-height: 120px;
  text-align: right;
  margin: 20px;
  margin-bottom 0;
  padding: 0 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #182151;
  font-family: 'Aldrich';
  font-size: 4em;
}
.key-wrapper,
.operator-wrapper {
  display: flex;
  font-family: 'Nunito', sans-serif; 
  font-size: 2rem;
}
.key-wrapper {
  position:relative;
  width: 60%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  padding-left: 20px;
}
.operator-wrapper {
  padding-right: 20px;
  position: absolute;
  flex-direction: column;
  top: 170px;
  right: 0 !important;
}
.key, 
.equals {
  color: #182151;
  background-color: #9da3c1;
  border: none;
  transition: color 0.15s ease;
  transition: background-color 0.15s ease;
  transition: border 0.15s ease;
}
.number, 
.operator,
.decimal,
.equals,
.clear{
  border-radius: 10px;
  margin: 5px;
}
.number {
  min-width: 90px;
  min-height: 90px;
  line-height: 90px;
  white-space: nowrap;
}
.operator,
.equals, 
clear {
  background-color: #fff8c9;
  min-height: 60px;
  height: 60px;
  line-height: 60px;
  min-width: 120px;
  width: 120px;
}
.decimal {
  line-height: 90px;
}
.zero {
  width: 190px;
}
.pressed {
  color: white;
  background-color: #6e76a0;
  //border: 1px solid #182151;
}
.clear {
  height: 40px;
}
